@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
main .ym-wrapper .ym-wbox {
    background-color: #f6f6f6;
}
main h1 {
    font-family: "Oswald", sans-serif;
    font-size: 1.375rem;
    font-weight: normal;
    margin-bottom: 1%;
}
main h2 {
    font-family: "Oswald", sans-serif;
    font-size: 1.188rem;
    font-weight: normal;
    margin-bottom: 1%;
}
main p,
main li {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    margin-bottom: 1%;
}
main p a,
main li a {
    text-decoration: none;
    color: #5586d2;
}
main p a:visited,
main p a:focus,
main p a:hover,
main p a:active,
main li a:visited,
main li a:focus,
main li a:hover,
main li a:active {
    text-decoration: underline;
}
.rounded {
    border: 1px solid #000;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url(ie/border-radius.htc);
}
.underline {
    width: 50%;
    height: 0.188rem;
    background-color: #f96868;
    margin: 1% 1.5rem;
}
.flexible {
    max-width: 100%;
}
* html .flexible {
    width: 98%;
}
.bordered {
    border: 2px #e6e6e6 solid;
    border: 2px rgba(255,255,255,1) solid;
    box-shadow: 0 0 3px rgba(0,0,0,.25);
}
.bold {
    font-family: "Fira Sans Bold", sans-serif;
    font-weight: 900 !important;
}
.lined {
    text-decoration: underline;
}
.center {
    display: block;
    text-align: center;
    margin: 1.5em auto 0 auto;
}
.clear {
    clear: both;
}
/* buttons */
.button ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.button ul li {
    margin: 0;
    padding: 0;
    width: 100%;
}
.ym-button {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    color: #3d3d3d;
    text-shadow: 0 1px rgba(255,255,255,.49);
    white-space: normal;
}
.admission, .license, .documents, .contacts {
    margin-bottom: 1%;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Grids Module Start */
@media screen and (max-width: 760px) {
    /* linearization for grid module */
    .linearize-level-1,
    .linearize-level-1 > [class*="ym-g"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }
    /* reset defined gutter values */
    .linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"] {
        overflow: hidden; /* optional for containing floats */
        padding: 0;
        margin: 0;
    }
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Column Module Start */
/* left column */
.ym-col1 {
    width: 25%;
}
/* right column */
.ym-col2 {
    width: 25%;
}
/* center column */
.ym-col3 {
    margin: 0 25%;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
}
@media screen and (max-width: 760px) {
    /* linearization for column module */
    .linearize-level-1,
    .linearize-level-1 > [class*="ym-col"] {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        width: 100% !important;
    }
    /* reset defined gutter values */
    .linearize-level-1 > [class*="ym-col"] > [class*="ym-cbox"] {
        overflow: hidden; /* optional for containing floats */
        padding: 0;
        margin: 0;
    }
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Header Start */
header {
    background-color: #fff;
}
header .ym-wrapper {
    background-color: #e6e6e6;
}
header .logo {
    text-align: center;
}
header .logo_header {
    font-family: "Oswald", sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    padding: 1rem 1rem;
}
header .logo_txt {
    font-family: "Fira Sans", sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    color: #000;
}
.header_wrapper_1,
.header_wrapper_2 {
    margin-left: 1.875rem;
}
.header_wrapper_3 {
    background-color: #fff;
    border: solid 5px #d6d6d6;
    margin: 0 1% 1% 1.875rem;
    padding: 1%;
}
.rectangle_1,
.rectangle_2,
.rectangle_3,
.rectangle_4 {
    min-height: 4.25rem;
    line-height: 4.25rem;
}
.rectangle_1 {
    background: #b199ce url(../../images/refresh.png) no-repeat;
    background-position-x: 1rem;
    background-position-y: 50%;
    width: 49%;
    float: right;
    margin: 0 1% 1% 0;
}
.rectangle_2 {
    background: #ffa457 url(../../images/mortarboard.png) no-repeat;
    background-position-x: 1rem;
    background-position-y: 50%;
    width: 49%;
    margin: 0 0 1% 0;
}
.rectangle_3 {
    background: #ff5f65 url(../../images/thinking.png) no-repeat;
    background-position-x: 1rem;
    background-position-y: 50%;
    width: 49%;
    float: right;
    margin: 0 1% 1% 0;
}
.rectangle_4 {
    background: #b7d756 url(../../images/brain.png) no-repeat;
    background-position-x: 1rem;
    background-position-y: 50%;
    width: 49%;
    margin: 0 0 1% 0;
}
.rectangle_1 p,
.rectangle_2 p,
.rectangle_3 p,
.rectangle_4 p {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    text-decoration: underline;
    color: #fff;
    margin-left: 2.5rem;
    padding-left: 2.625rem;
    word-wrap: break-word;
    vertical-align: -50%;
}
.header_wrapper_3 .contacts {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    color: #000;
    margin: 0;
}
.header_wrapper_3 .contacts a {
    text-decoration: underline;
    color: #5586d2;
}
@media screen and (max-width: 760px) {
    .header_wrapper_1,
    .header_wrapper_2,
    .header_wrapper_3 {
        margin: 0;
        padding: 0;
}
    .header_wrapper_1 {
        margin-top: 1em;
    }
    .header_wrapper_3 {
        padding: 1%;
}
    .rectangle_1,
    .rectangle_2,
    .rectangle_3,
    .rectangle_4 {
        width: 100%;
        float: none;
        margin-bottom: 1rem;
        padding: 0 0.25rem;
    }
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Menu Top Start */
@media all {
    .menu_top {
        background: #e6e6e6;
    }
    .menu_top ul li {
        font-family: "Fira Sans", sans-serif;
        font-size: 0.75rem;
    }
    .menu_top_separator {
        display: inline-block;
        float: left;
        width: 0.063rem;
        height: 1.563rem;
        background-color: #000;
    }
    .menu_top ul li a,
    .menu_top ul li strong {
        color: #000;
        font-size: 0.75rem;
        text-shadow: none;
    }
    .menu_top ul li a:visited,
    .menu_top ul li a:focus,
    .menu_top ul li a:hover,
    .menu_top ul li a:active {
        color: #000;
        background: transparent;
        border-radius: 0;
        text-decoration: underline;
    }
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Menu Bottom Start */
@media all {
    nav {
        background: #fff;
    }
    nav .ym-wrapper,
    .menu_bottom {
        background: #5586d2;
        text-align: center; /* menu centering */
    }
   .menu_bottom {
        padding: 0.75em 0; /* menu centering */
    }
    .menu_bottom ul {
        padding: 0.75em;
        float: none; /* menu centering */
    }
    .menu_bottom ul li {
        font-family: "Fira Sans", sans-serif;
        font-size: 0.75rem;
        border-right: 1px solid #fff;
        padding: 0.75em;
        /* menu centering */
        display: inline-block;
        float: none;
    }
    .menu_bottom ul li:last-child {
        border: none;
    }
    .menu_bottom ul li a,
    .menu_bottom ul li strong {
        color: #fff;
        font-size: 0.75rem;
        text-shadow: none;
    }
    .menu_bottom ul li a:visited,
    .menu_bottom ul li a:focus,
    .menu_bottom ul li a:hover,
    .menu_bottom ul li a:active {
        color: #fff;
        background: transparent;
        border-radius: 0;
        text-decoration: underline;
    }
}
@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
    nav .ym-wrapper,
    .menu_bottom {
        text-align: auto; /* menu decentering */
    }
    .menu_bottom {
        padding: 0; /* menu decentering */
    }
    .menu_bottom ul {
        float: left; /* menu decentering */
    }
    .menu_bottom ul li {
        border-right: none;
        display: inline; /* menu decentering */
    }
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Main Start */
.admission h2,
.license h2,
.documents h2,
.contacts h2 {
    font-family: "Oswald", sans-serif;
    font-size: 1.375rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 1.5rem;
}
.admission_card {
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    padding: 1.5rem;
}
.admission_card h3,
.admission_card p {
    margin: 0 0 0.625rem;
    padding-bottom: 1%;
}
.admission_card h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.188rem;
    font-weight: normal;
    text-transform: uppercase;
}
.admission_card p {
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    margin-bottom: 1%;
    text-shadow: 0 1px rgba(255,255,255,.49);
}
.admission_card ul {
    margin-bottom: 1% !important;
}
.license a {
    margin-top: 1%;
}
.license_card {
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    padding: 1.5rem;
}
.license_card p {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.documents p {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1%;
    text-shadow: 0 1px rgba(255,255,255,.49);
}
.contacts_card {
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    padding: 1.5rem;
}
.contacts_card p,
.contacts_card h3 {
    margin: 0 0 0.625rem;
    padding-bottom: 1%;
}
.contacts_card .name {
    font-family: "Oswald", sans-serif;
    font-size: 1.188rem;
    text-transform: uppercase;
}
.contacts_card .req {
    font-family: "Oswald", sans-serif;
    font-size: 1.188rem;
    font-weight: normal;
    margin-top: 10%;
}
.contacts_card .det {
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Footer Start */
footer {
    background: #fff;
}
footer .ym-wrapper {
    background-color: #333;
}
footer .logo {
    text-align: center;
}
footer .logo_header {
    font-family: "Oswald", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #f6f6f6;
    padding: 1rem 1rem;
}
footer .logo_txt,
footer .logo_txt a {
    font-family: "Fira Sans", sans-serif;
    font-size: 0.688rem;
    color: #f6f6f6;
}
footer h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.188rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #f6f6f6;
    margin-bottom: 1%;
    margin-left: 1.5rem;
}
footer a img {
    opacity: 0.9;
}
footer a:visited img,
footer a:focus img,
footer a:hover img,
footer a:active img {
    opacity: 1;
}
footer .logo img {
    opacity: 1;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End */